/* ==========================================
            CARRUSEL
========================================== */

/* .carousel{


    margin-top:30px;

}

.carousel img{

    height: 200px;

    object-fit: cover;

    border-radius: 15px;

}

.carousel-caption{

    background:rgba(0,0,0,.45);

    border-radius:10px;

    padding:15px;

} */


/* .carousel-item{

    height: 320px;

}

.carousel-item img{

    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 15px;

} */


.carousel-item {
    height: 320px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}