@use "../utilities/extends";

.indexHeader{

    @extend .backgroundsHeader;
     

   nav {
    a {
      margin-left: 20px;
      color: $color-blanco;
      text-decoration: none;
    }
  }
}


.topbar{

}

.logo{

}

.search{

}

.icons{

}

.menu{

}