/* =========== HEADER ============ */

/*
El Header es la parte superior de la página.

En este proyecto contiene:

✔ Logo
✔ Buscador
✔ Mi Cuenta
✔ Carrito

Utilizamos Flexbox para distribuir los elementos
horizontalmente.

Este archivo solo contiene estilos del encabezado.
*/




@use "../utilities/extends";

.indexHeader{

    @extend .backgroundsHeader;
     

   nav {
    a {
      margin-left: 20px;
      color: $color-blanco;
      text-decoration: none;
    }
  }
}



  /* ================= TOPBAR ================= */

.topbar {
  display: flex;

  justify-content: space-between;
  /* SEPARA IZQUIERDA - CENTRO - DERECHA */

  align-items: center;
  /* CENTRA VERTICALMENTE */

  padding: 15px 30px;

  background: $color-principal;
  /* PODÉS CAMBIAR POR TU AZUL #4b4b9f */

  

}


/* ================= LOGO ================= */

.logo{
    .logo {
    img {
      display: cover;
      height: 80px;

      /* se puede agrandar el logo*/
    }
  }

}


  /* ================= BUSCADOR ================= */

  .search {
    flex: 1;
    /* OCUPA TODO EL ESPACIO DISPONIBLE */

    display: flex;
    justify-content: center;

    input {
      width: 60%;
      padding: 10px;

      border-radius: 20px;
      border: none;
    }
  }


  /* ================= ICONOS ================= */

  .icons {
    display: flex;
    gap: 20px;

    color: $color-blanco;
  }


/* ================= MENÚ ================= */

.menu {
  display: flex;

  justify-content: center;

  gap: 25px;

  background: $color-secundario;

  padding: 6px;

  a {
    color: $color-blanco;
    text-decoration: none;
  }
}