/* COLOR PRINCIPAL DE TU MARCA */
$color-principal: #0b1f3a;

/* COLOR SECUNDARIO */
$color-secundario: #49499b;

/* COLORES GENERALES */
$color-blanco: #ffffff;
$color-negro: #111111;
$color-borde: #ddd;

$header-height: 160px;