
/* Estilo de la imagen principal */
    .hero-image {
    
    }

    /* Estilo de los textos y títulos */
    h2 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 25px;
      color: #000000;
    }

    ul.conditions-list {
      list-style-type: circle;
      padding-left: 20px;
      line-height: 1.8;
      font-size: 16px;
      color: #000000;
    }

    ul.conditions-list li {
      margin-bottom: 12px;
    }

    strong {
      font-weight: 700;
    }

    .containerDev{
        padding-top: 40px;
}
    


/* .devolucion{

    background:#0b1f3a;

    color:white;

    padding:80px 30px;

    min-height:70vh;

}

.devolucion h1{

    text-align:center;

    margin-bottom:40px;

}

.devolucion p{

    max-width:900px;

    margin:auto;

    margin-bottom:20px;

} */